<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.student">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_list3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ForStudent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="Schedule"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            >
        </activity>
        <activity
            android:name=".ScheduleActivity2"
            android:label="Schedule"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            >
        </activity>
        <activity
            android:name=".NewLessonActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            >
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="Notes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".WeekViewActivity" />
        <activity
            android:name=".NewNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".CalendarDayActivity" />
        <activity android:name=".NewEventActivity"></activity>
    </application>

</manifest>